.searchForm {
    background-image: url(../../../assets/dana-devolk-JBqC2n_0zHM-unsplash.jpg);
    background-size: 100%;
    padding: 10px;

    color: white;
}

.searchForm h4 {
    text-align: center;
}

#filterInput {
    width: 20%;
    display: flex;
}

#searchButton {
    margin: 10px;
    margin-top: 0;
}

#allTrailsTable {
    width: 100vw;
}

td {
    max-width: 9em;
    overflow-wrap: break-word;
}

h5 {
    letter-spacing: 0.05em;
    font-weight: bold;
}